body.prototype
  background: #fff
  padding-top: 70px

.application-navbar.navbar-min
  display: none

body.navbar-min
  padding-top: 0
  .application-navbar
    display: none
    &.navbar-min
      display: block

.prototype-container
  //padding-top: 70px
  background: #fff


$photoblockHeight: 320px*0.3

//.form-vertical
  .form-control
    margin-bottom: 0.5em

.signup-photo-block
  background: $grayLightest
  height: $photoblockHeight
  padding: $photoblockHeight/4 0
  text-align: center

.signup-photo-block.photo-block-small
  max-width: 100%
  height: 64px
  padding: 1em

.signup-description
  width: 100%
  height: 3em

.signup-photo-input
  display: block
  position: absolute
  left: -9999px
  top: -9999px

.btn-take-picture
  border: none
  background: $grayLightest


.tech-photo
  img
    max-width: 100%

.tech-container
  padding: $grid-gutter-width/2 0
  background: $grayLighter
  margin:
    top: $grid-gutter-width
    bottom: $grid-gutter-width
  .container &
    margin:
      left: - $grid-gutter-width/2
      right: - $grid-gutter-width/2


.tech-block
  display: block
  border-bottom: 1px solid $grayLighter
  background: #fff
  overflow: hidden
  padding: 5px
  &[href]
    cursor: pointer

  &.tech-block-large
    margin:
      top: $grid-gutter-width/2
      bottom: $grid-gutter-width/2
    .tech-photo-img
      height: 200px

.tech-photo-img
  background:
    color: #fff
    repeat: no-repeat
    position: center top
    size: cover

.tech-block-short
  padding: $grid-gutter-width/2 0

.tech-categories
  .nav.nav-pills
    & > li
      & > a
        padding: 4px 8px

.userflow-block
  margin: $grid-gutter-width/2 0
  img
    max-width: 100%


.modal
  //text-align: center
  &:before
    content: ''
    display: inline-block
    height: 100%
    vertical-align: middle
    margin-right: -0.25em
    /* Adjusts for spacing

.modal-alert-container
  display: inline-block
  text-align: center

.modal-alert
  //centered
  display: inline-block
  vertical-align: middle
  width: 90%
  max-width: $screen-xs
  .modal-footer
    padding: 5px
    .btn
      text-transform: uppercase
  .modal-content
    +box-shadow(none)
    border: none
