%title #{data.page.title || "Design Demo"}
%meta(http-equiv="content-type" content="text/html" charset="utf-8")
%meta(http-equiv="x-ua-compatible" content="ie=edge,chrome=1")
%meta{:content => "Brandy Mint LLC", :name => "author"}

-# Standard viewport tag to set the viewport to the device's width, 
-# Android 2.3 devices need this so 100% width works properly and 
-# doesn't allow children to blow up the viewport width
%meta{content: "initial-scale=1.0,width=device-width,maximum-scale=1.0,user-scalable=no", name: "viewport"}

-# Fix for iPhone 5 fullscreen web apps
-#%meta(name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)")
%meta(name='apple-mobile-web-app-capable' content='yes')
%meta(name='apple-mobile-web-app-status-bar-style' content='translucent-black')

-# Stylesheets
-#= stylesheet_link_tag 'application'
%link{href: stylesheet_path, rel: :stylesheet, media: :screen, type: 'text/css'}

