---
title: Подача объявления (Шаг 1 из 2)
layout: prototype
body_class: prototype navbar-min
---

.btn.btn-lg.btn-default.btn-block.btn-take-picture
  %input.signup-photo-input{type: :file, accept: 'image/*', value: 'Сфотографировать', role: 'signup-photo-input'}
  %a.gray-link{role: 'signup-take-picture'}
    = ficon 'camera-1', size: 20, color: 'gray-light'
    -#Сфотографировать
  
%br
.row
  .col-md-6.col-md-offset-3
    %form.form-vertical{ role: 'signup-form-1'}
      .form-group
        %select.form-control{placeholder: 'Тип'}
          - options = ['Трактор', 'Экскаватор', 'Кран', 'Манипулятор', 'Автотранспорт', 'Прочее']
          - options.each do |o|
            %option= o
      .form-group
        %input.form-control{placeholder: 'Название техники', required: :required}
      .form-group
        %input.form-control{placeholder: 'Имя владельца', required: :required}
      .form-group
        %input.form-control{placeholder: 'Контактный телефон (для заявок)', maxlength: 11, type: :tel, required: :required}
      %a.btn.btn-primary.btn-lg.btn-block{type: :submit,  href: 'step3.html'}
        Зарегистрировать

= partial 'shared/modal', locals: {content: 'Заполните все поля', link: 'step3.html'}
