---
title: Подача объявления (Шаг 2 из 2)
layout: prototype
body_class: prototype navbar-min
---

.row
  .col-xs-3
    .signup-photo-block.photo-block-small
      = ficon 'camera-1', size: 20, color: 'gray-light'
  .col-xs-9
    %small.text-muted Трактор
    %h4.no-margins.text-overflow Т-150 гусеничный (СМД-60, 160 л.с)
    %h5.no-margin-bottom.text-overflow
      8(905)334-44-35
      Василий
%hr.small
-#%small.text-muted
  Добавьте информацию о вашей технике.
  При поступлении заказа на вашу технику мы уведомим вас с помощью SMS.
.row
  .col-md-6.col-md-offset-3
    %form.form-vertical
      .form-group
        .row
          .col-xs-6
            %input.form-control{placeholder: 'цена аренды'}
          .col-xs-6
            %select.form-control
              - ['р. в час', 'р. в день'].each do |o|
                %option= o
      .form-group
        %textarea.form-control.signup-description{ placeholder: 'Описание техники' }
      .form-group
        .row
          .col-xs-6
            %input.form-control{placeholder: 'SMS-код', size: 4, maxlength: 4, type: :tel, required: :required }
          .col-xs-6
            %a.btn.btn-default.btn-block.btn-warning{href: 'javascript:alert("на номер  8(906)333-44-55 выслан код");'}
              выслать SMS-код
      %a.btn.btn-primary.btn-lg.btn-block{ href: '../tech/show.html'} Опубликовать



