%h3 Заказать этот трактор
%form.form-vertical
  .form-group
    %input.form-control{placeholder: "Ваше имя", role: "name", type: "text"}
  .form-group
    %input.form-control{maxlength: "", placeholder: "Контактный телефон", role: "phone", size: "", type: "tel"}

  %a.btn.btn-lg.btn-success.btn-block{type: "submit", value: "Заказать", href: ''} Заказать

