- page = sitemap.find_resource_by_destination_path('index.html')
- pages = ''
-# page.children.map {|c| c.path.match(/html/) ? pages.push("http://localhost:4567/#{c.path}") : ''}
- if page.children.present?
  - page.children.each do |c|
    - c.path
    - if c.path.match(/html/) && !c.path.match(/(demo|fontello|error|userflow)/)
      - pages += "http://localhost:4567/#{c.path} "
      - if c.children.present?
        - c.children.each do |cc|
          - pages += "http://localhost:4567/#{cc.path} "
= pages
